
/*Test classes*/
/*#scrollMore {
    background: url("http://www.wiltshirefarmfoods.com/images/scrollMore.png") no-repeat scroll center bottom transparent;
    bottom: 0;
    cursor: pointer;
    height: 42px;
    position: fixed;
    right: 36px;
    text-indent: -9999px;
    width: 124px;
    z-index: 100;
}*/


/*Test classes*/

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
/* //// MAIN ELEMENTS //////////////////////////////////////////////////////////////////////// */
.nav {
	display: inline-block;text-align: center;padding: 6px 8px 6px 8px;
	margin: 5px 0 5px 0;
}

.nav_btn_container{text-align: center;}

.main_section {width:100%;height: auto; font-size: .9em;margin-bottom: 0;}

.row{margin-left: 0; margin-right: 0;}

.container-fluid{
	padding-left: 0!important;
	padding-right: 0!important;
}

/* FIXED HEADING SETTINGS */

/* when not fixed... */
.wrapper .fixed_heading_pricetable,
.wrapper .fixed_heading_shop,
.wrapper .fixed_heading_layout,
.wrapper .fixed_heading_information{
	position: relative;
	height: 45px;
	width: 100%;
	/*display: block;*/
	
}

.wrapper .ghost_div0,
.wrapper .ghost_div1,
.wrapper .ghost_div2,
.wrapper .ghost_div3{
	display: none;
	height: 45px; 
	width: 100%;
}

/* when fixed... */
.wrapper.fixed-00 .fixed_heading_pricetable,
.wrapper.fixed-01 .fixed_heading_shop,
.wrapper.fixed-02 .fixed_heading_layout,
.wrapper.fixed-03 .fixed_heading_information {
	top:0;
	position: fixed;
	
}

.wrapper.fixed-00 .ghost_div0,
.wrapper.fixed-01 .ghost_div1,
.wrapper.fixed-02 .ghost_div2,
.wrapper.fixed-03 .ghost_div3 {
  	display: block;
	
}

.spacer {
	height: 45px;
	display: none;
		
}

.wrapper.fixed-00 .spacer-0 { display: block; }
.wrapper.fixed-01 .spacer-1 { display: block; }
.wrapper.fixed-02 .spacer-2 { display: block; }
.wrapper.fixed-03 .spacer-3 { display: block; }

.heading_shop, .heading_pricetable, .heading_layout, .heading_information {text-align: center;padding:20px 0 20px 0;margin: 0;}/**/

.heading_shop p, .heading_pricetable p, .heading_layout p, .heading_information p, .heading2_shop p, .info_container p{text-align: justify;}/**/


/* ////  LOGO  //////////////////////////////////////////////////////// */

.tip{padding: 10px 0 10px 0;}

.fb_container{width: 100%;text-align: center; height:30px;display: inline-block;}

.fb-like {padding: 5px 5px 5px 5px; text-align: center;}

.logo_main {
	text-align: left;
	margin-top: -10px;/*due to tm putting alignment out*/
	padding-left: 30px;/*to align equally with tobbar_nav*/
	
}

.DIY_title{
	padding: 0 0 0 0;/**/
	font-size: 2.6em;/**/
}

.DIY_title small{
	font-size: .3em;/**/
}

.DIY_title_line2{
	margin-left: 3px;/*to allow for trademark*/
	line-height: 0;
	font-size: 1em;/**/
}

.trademark {
	vertical-align: text-top;
}

.common {margin-top: 5px;font-size: 1.4em;}


/* ////  HEADER  //////////////////////////////////////////////////////// */

.top_bar{position:fixed;z-index: 99;width: 100%;}

.top_menu{
	text-align:center;/**/
	display:table; }

.topbar_nav {
	display:table-cell;
	vertical-align: middle;
	padding-bottom: 10px;}

.phone_number {font-size:1.8em; padding: 0 0 0 10px;vertical-align: middle}
/*.phone_number{display: inline-block;}*/
/* ////  PRICETABLE  //////////////////////////////////////////////////////// */

.fixed_heading_pricetable {
	width: 100%;
	height: auto;
	z-index: 13;
	text-align: center;
	vertical-align: top;
	padding: 0 5px 0 5px;
}

.pricetable_section{
	padding: 0 10px 0 10px;
}/**/


.pricetable{
	padding: 10px 10px 10px 10px;/**/
	margin-left: auto;
	margin-right: auto;

}

.list{margin: auto;}

.pricetable_title{
	text-align: center;
}

.pricetable tr {
	height: 50px;
}

.pricetable td {
	vertical-align: middle;
	padding-left: 10px;
}

.pricetable th {
	text-align: center;
	vertical-align: middle;
}

/* ////  VIDEO  //////////////////////////////////////////////////////// */

.video_container {width: 100%;text-align: center;margin-top: 50px;
}

/* ////  SHOP  /////////////////////////////////////////////////////////////////// */

.fixed_heading_shop {
	width: 100%;
	text-align: center;
	z-index: 14;
	vertical-align: middle;
	padding: 0 5px 0 5px;
	height: auto;
}

.shop_diy_logo {font-size: 1.3em;}

.heading_shop {
	padding: 5px 25px 15px 25px;
	margin: 25px auto 25px auto;
	width: 95%;
	height: auto;
	text-align: center;
	}

.section_margin{margin-top: 60px}

/* Shop Boxes */

.shop_box_large {
	margin: auto;
	padding-bottom: 5px
}

.shop_box {
	margin-top: 25px;/**/
	padding: 15px 5px 5px 5px;/* TOP GAP*/
	margin: auto;
}

.fifty_five{height: 45px; width: 100%;margin-top: 5px;margin-bottom: -10px;}

.img_box {text-align: center;}

.img_padding{
	padding: 0 10px 0 10px;
}

.product_image_large {
	cursor: pointer;
	height: auto;
	margin: 15px auto 0 auto;
	display: inline-block;/*for side by side images*/
}

.product_image_small {
	display: block;
	margin: auto;
	width: 120px;
	height: auto;	
}

.price_and_addbutton { /* forces price and buttons in shop box to bottom of container */
	

	
	width: 100%;
	height: auto;
	text-align: center;
}

.price_and_addbtn_large { /* forces price and buttons in shop box to bottom of container */
	bottom: 0;
	width: 100%;
	height: auto;
	padding-bottom: 0px;
	text-align: center;
}

.product_description{
	width: 90%;
	height: auto;
	margin: auto;
	text-align: center;
}

.item_name{
	font-size: 1.1em;}

.item_price{
	margin-top: 0;
	font-size: 1.4em;}

.counter{padding-top: 5px;display: block;font-size: 14px;}

.badge {font-size: 14px;}


/* //// LAYOUT  ///////////////////////////////////////////////// */
.fixed_heading_layout {
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 15;
	vertical-align: middle;
	padding: 0 5px 0 5px;
}

.heading_layout {
	margin: 60px auto 40px auto;
	padding: 5px 25px 15px 25px; text-align: center;width: 95%;
}

.layout_example_container {
	height: auto;
	margin:0 auto 60px auto;width: 100%;padding: 0 25px 0 25px;
	text-align: center;
}

.layout_example_image {
	margin: 0 auto 0 auto;
	width: 100%;
	height: auto;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
	text-align: center;
}

/* //// INFORMATION  ///////////////////////////////////////////////// */

.fixed_heading_information {
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 16;
	vertical-align: middle;
	padding: 0 5px 0 5px;
}

.heading_information {
	margin: 60px auto 40px auto;
	padding:5px 0 5px 0; 
	width: 95%;
	height: auto;
}

.info_container_title{text-align: center}

.info_container {
	padding: 20px 20px 20px 20px;
	width: 90%;margin: 60px auto 0 auto;
	height: auto;}

.info_container button{
	text-align: center;}


.info_container .btn-primary, .info_container .btn-secondary, .info_container .help_btn{font-size: .8em;}

.info_container li, .info_container p{padding-top: 15px;}

.info_container ol, .info_container ul{padding-left: 1.2em; }/*remove indentation from lists*/
	


/* //// CART  ////////////////////////////////////////////////////////////// */

/* CART BUTTON */

.cart_btn{ 
	padding: 5px 5px 5px 5px;
	width: 270px;
	margin: auto;
	text-align: center;
}

.cart_btn_container {
	width:100%;
	height: 35px;
	margin: 0 0 30px 0;
	display: inline-block;}

/* END OF CART BUTTON */

.cart_summary {
	text-align: center;
	padding: 20px 0 0 0;
	margin: 0 auto;}

.checkout {
	margin: 0 auto;
	width: 100%;
	padding: 10px 10px 0 10px/**/
}

.simpleCart_items table{margin: auto;width: 100%;}

.simpleCart_items {
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.simpleCart_items th{
	padding: 5px 5px 0 5px;text-align: center;}

.simpleCart_items tr{text-align: center;}

.item-item{ /* Hide item name table heading in cart  */
	display: none;
}

.item-name{
	/*border-left: 1px solid black;*/
	vertical-align: middle;
}

.item-price{
	padding: 0 10px 0 10px;
	text-align: center;
	vertical-align: middle;
	/*border-left: 1px solid black;*/
}

.item-quantity{
	text-align: center;
	padding: 0;
	vertical-align: middle;
}

.item-decrement{
	padding: 0 0 0 10px;
	text-align: center;
	vertical-align: middle;
	/*border-left: 1px solid black;*/
}

.item-increment {
	padding: 0 10px 0 0;
	text-align: center;
	vertical-align: middle;
	/*border-right: 1px solid black;*/
}

.item-total {
	padding: 0 10px 0 10px;
	vertical-align: middle;}
	/*border-right: 1px solid black;*/
	
.simpleCart_items img {width: 50px; height: auto;}

.gst {
	margin: 0;
	padding: 0 0 0 5px;
	vertical-align: top;
	font-size: .7em;
}
 
.total {
	font-size: 1.2em;
}
 
.simpleCart_finalTotal {
	padding: 0;
}

form {width: 100%;}

.contact_form b{
	text-align: justify; display: block; padding: 10px 20px 10px 20px
}

.contact_form_title{padding: 10px 0 5px 0;text-align: center;font-size: 1em;}

.invoice_info {padding: 10px;display: block;}

.details_form table {margin: auto;}

.textbox_container{text-align: center;}

.contact_form label {display: none;}

.contact_form input{padding: 3px 0 3px 0;margin-bottom: 20px; display: inline-block;text-align: center;border-radius: 3px;}

.contact_form input:focus{text-align:left;content:' ';}

.modal-footer > button{text-align:center; width: 100%; margin:auto;}

.hidden {display: none;}

select{width: 50px;}

.captcha_container{padding: 20px 0 0 0;text-align: center;}

.g-recaptcha{ display: inline-block;}

/* //// FOOTER /////////////////////////////////////////////////////////////////// */
.logo_footer {
	text-align: center;
	padding: 20px 0 0 0;
}

.back_to_top {text-align: center}

.copyright{font-size:1em; text-align: center;}


/* ////  MODALS  //////////////////////////////////////////*/
/*Product Details Modals*/
.modal-header{text-align: left;}/*??*/

.modal_image_container{cursor: pointer;}

.modal-title{text-align: center; font-size: 1.3em;padding-top: 0;}

.modal_content_heading{font-weight: 400;font-size: 1.2em;padding-top: 10px;}

.modal_main_text{width: 95%;margin:auto;font-size: 1.1em;}

/*Product Images Modals*/
.product_images_modal{padding-top: 60px;}

/* /////////// Extra Small Devices, Phones//320px////////////////////////////// */
/* /////////// Extra Small Devices, Phones//320px////////////////////////////// */
/* /////////// Extra Small Devices, Phones///////320px//////////////////////// */
@media only screen and (min-width : 320px) {
	
.top_bar{height:55px;padding: 0;}
	
.topbar_nav{width: 100%;padding: 0;}
	
.top_menu{font-size:1em;padding: 10px 0 0 0;}
	
.calc_btn{text-align: center;margin-right:5px;}
	
video{width: 100%; /*change this to auto with custom video and different screen sizes*/}
	
.wrapper.fixed-00 .fixed_heading_pricetable,
.wrapper.fixed-01 .fixed_heading_shop,
.wrapper.fixed-02 .fixed_heading_layout,
.wrapper.fixed-03 .fixed_heading_information {position: fixed;top: 55px;}
	
.fixed_heading_pricetable,	
.fixed_heading_shop, .fixed_heading_layout, .fixed_heading_information {font-size: .7em;}/**/
	
.pricetable_section {padding: 60px 20px 20px 20px;}/**/
	
.pricetable {font-size: 1em;line-height:1.7em; margin-bottom: 20px;width: 90%;}

.heading {font-size:1.3em;}/**/

.heading_layout {margin: 60px 10px 40px 10px;padding: 5px 25px 15px 25px; text-align: center;}
	
.nav {font-size: 1em;}

.shop_box_large {width: 90%;font-size: 1em;margin-bottom: 20px;text-align: justify;}
	
.shop_box {width: 100%;font-size: 1em;margin: 0 0 20px 0;text-align: justify;}/**/
	
.product_image_large {width: 220px;}
	
.cart_summary{text-align: center;font-size: 1.2em;}	/**/
	
.simpleCart_items td{padding: 5px 5px 5px 5px}
	
.item_add{margin:10px 0px 10px 10px;}
	
.decr{margin:10px 10px 10px 0px;}
	
.checkout {padding: 0;font-size: .8em;}/**/
	
.cart_footer_text{text-align: center;}	
	
.total {font-size: 1.1em;}	
	
.details_form th{font-size: 1.1em;}
	
.contact_form_title{text-align: center;}/**/
	
.contact_form input, .textbox{width: 230px;border-radius: 3px;}/**/
	
.submit_field{width: 230px; margin: auto;margin-bottom: 20px;}/* for loader and error messages - simulate submit btn*/
	
.submit {text-align: center;padding-top: 20px;}/**/
	
.cart {font-size: 1em;}/* cart button at bottom of section*/
	
.modal-dialog {width: 95%;}/**/	
	
.modal-title{font-size: 1.2em;}
	
.test1{margin:auto;width:100%;}
	
.main_section{font-size:1em;}
	
}

/* /////////// Small  Devices, Phones/////375px///////////////////////////// */
/* /////////// Small  Devices, Phones/////375px///////////////////////////// */
/* /////////// Small  Devices, Phones/////375px///////////////////////////// */
@media only screen and (max-width : 374px) {
.item-total {display: none}		
}
	
@media only screen and (min-width : 375px) {
.top_menu{font-size:1em;padding: 14px 0 0 0;}
	
.calc_btn{font-size: 1em;}/**/
	
.pricetable_title {font-size: 1.8em;}
	
.shop_box_large {width: 85%;}
	
.contact_form input, .textbox{width: 280px;}/**/
	
.submit_field{width: 280px;}/* for loader and error messages - simulate submit btn*/
	
.pricetable {line-height:1.9em;font-size: 1em;width: 90%;}

.total {font-size: 1.3em;}	
	
.cart_summary{font-size: 1.3em;}	
	
.modal_title{font-size: 1.3em;padding-top: 0;}	

}
	
/* /////////// Medium  Devices, Phones///425px/////////////////////////////// */
/* /////////// Medium  Devices, Phones///425px/////////////////////////////// */
/* /////////// Medium  Devices, Phones///425px/////////////////////////////// */
@media only screen and (min-width : 425px) {

	
	
.top_bar{height:55px;}

.top_menu{font-size: 1em;}
	
.fixed_heading_pricetable,	
.fixed_heading_shop, .fixed_heading_layout, .fixed_heading_information {font-size: .9em;}/**/	
	
.pricetable {line-height:2em;font-size: 1em;width: 67%;margin-bottom: 20px;}

.shop_box {font-size: 1em;}
	
.shop_box_large {font-size: 1em;width: 75%;}
	
.item_add{margin-top:0;margin-bottom: 0;}
	
.calc_btn {font-size: 1em;}/**/
	
.contact_form input, .textbox {width: 300px;}/**/
	
.submit_field{width: 300px;}/* for loader and error messages - simulate submit btn*/
	
.common {font-size: 1.4em;}
	
.total {font-size: 1.4em;}	
	
.cart_summary{font-size: 1.4em;}	
.modal-title{font-size: 1.4em;}
	
}
	
/* /////////// Medium  Devices, Phones///768px/////////////////////////////// */
/* /////////// Medium  Devices, Phones///768px/////////////////////////////// */
/* /////////// Medium  Devices, Phones///768px/////////////////////////////// */
@media only screen and (min-width : 768px) {
	
.top_bar{height:75px;}
	
.DIY_title{
	padding: 0 0 0 0;/**/
	font-size: 2.5em;/**/
}

.video_container {margin-top: 70px;}
	
.topbar_nav {padding-right: 15px;}
	
.top_menu{display:table;font-size:1em; height:100%;text-align: right;}/**/
	
.common {font-size: 1.6em;}
	
.wrapper.fixed-00 .fixed_heading_pricetable,
.wrapper.fixed-01 .fixed_heading_shop,
.wrapper.fixed-02 .fixed_heading_layout,
.wrapper.fixed-03 .fixed_heading_information {position: fixed;top: 75px;}/* top */
	
.calc_btn{font-size: 1em;}/*font-size*/
	
.pricetable_section {padding: 60px 20px 20px 20px;}

.pricetable {font-size:.9em;line-height:1em;width: 95%;margin-top: 20px;}
	
.pricetable td, .pricetable th{height: 50px;}
	
.pricetable_title {font-size: 1.2em;}
	
.heading_container{margin: 0 15px 0 15px;}
	
.heading {font-size:1.3em;}/**/
	
.shop_box_large {font-size:1em;width: 100%;margin-bottom: 0;}/**/
	
.shop_box {margin-bottom: 25px; padding: 10px 10px 0 10px;font-size: 1em;width: 100%;}/**/
	
.product_image_large {width: 150px;}
	
.details_btn{font-size: 1em; margin-top:10px;}
	
/*.info {font-size: 19em;}*/
	
.modal-dialog {width: 70%;}/**/
	
.simpleCart_items td{padding: 10px 10px 10px 10px;}
	
.checkout {padding: 10px 10px 10px 10px;font-size: 1em;}
	
.contact_form input, .textbox {width: 300px;}
	
.cart {font-size: 1.2em;}/* cart button at bottom of section*/
	
.info_container{font-size: 1.1em; width: 90%;}
	
.main_section {font-size: 1.1em;}
	
.cart_summary{font-size: 1.6em;}	
	
.modal-title{font-size: 1.6em;}
	
}

	
/* /////////// Large Devices, Wide Screens //////1024px///////////////////////// */
/* /////////// Large Devices, Wide Screens /////////1024px////////////////////// */
/* ///////// Large Devices, Wide Screens ///////1024px//////////////////////// */

@media only screen and (min-width : 1024px) {
.top_menu{padding-left: 0;font-size: 1.1em;}
	
	.fixed_heading_pricetable,	
.fixed_heading_shop, .fixed_heading_layout, .fixed_heading_information {font-size: .8em;}/**/
	
.common {font-size: 1.8em;}
	
.calc_btn{font-size: 1.1em;}/**/
	
.contact_form input, .textbox {width: 500px;}
	
.pricetable {font-size: 1em;line-height:1.5em;width: 90%;}
	
.product_description{width:90%;}
	
.shop_box_large {font-size: 1.1em;}
	.shop_box {font-size: 1.1em;}

.item_add{margin-top:0;font-size: .9em;}
	
.info_container {width: 90%;}
	
.main_section {font-size: 1.1em;}
	
.heading {font-size: 1.4em;}

.total {float: right;}	
	
}
	
/* /////////// Large Devices, Wide Screens //////1200px///////////////////////// */
/* /////////// Large Devices, Wide Screens /////////1200px////////////////////// */
/* ///////// Large Devices, Wide Screens ///////1200px//////////////////////// */

@media only screen and (min-width : 1200px) {
	
.top_menu{font-size: 1.1em;}
	
.calc_btn{font-size: 1.1em;}/**/
	
.common{font-size: 1.9em;}
		
.pricetable_section{padding:60px 10px 20px 10px;}
	
.pricetable {font-size: 1.1em;line-height:1.9em;width: 95%;}
	
.pricetable td{height: 50px;}

.heading_container{margin-left: 15px; margin-right: 15px;}
	
/*.shop{margin:0px 45px 0 45px;}*/
	
.shop_box_large {font-size:1.2em;width: 100%;}/**/
	
.shop_box {font-size: 1.1em;width: 100%;}/**/
	
.checkout {font-size: 1.5em;}
	
.info_container{padding: 20px 60px 20px 60px;}

.cart_summary{font-size: 2.4em;}	
	
.modal-title{font-size: 2.4em;}
	
.details_form{font-size: 1.3em;}
	
.nav {font-size: 1.1em;}
	
}
	
/* /////////// Large Devices, Wide Screens ///////1440px/////////////////////*/
/* /////////// Large Devices, Wide Screens ///////1440px/////////////////////*/
/* /////////// Large Devices, Wide Screens ///////1440px//////////////////////*/

@media only screen and (min-width : 1440px) {

.top_menu{text-align: right;margin:0;}/**/
	
.common{font-size: 1.9em;}

.calc_btn{font-size: 1.1em;}/**/
	
.pricetable_section {padding: 60px 20px 20px 20px;}
	
.pricetable {padding: 10px 0 0 2px;font-size: 1.1em;line-height:1.1em;}
	
.pricetable td{height: 50px;width: auto}

.list tr{padding-bottom: 60px;}	
	
.heading_shop {font-size:1.4em;font-weight: 400;}/**/
	
.shop_box_large{font-size:1.1em;width: 90%}/**/
	
.shop_box {font-size: 1.1em;width: 90%;}/**/

.product_image_large{width: 160px;height: auto;}
	
.info_container {margin: auto;margin-top: 60px;}

.main_section {font-size: 1.2em;}
	
.modal-dialog {width: 60%;}
	
.cart_summary{margin: 0;}	
	
.simpleCart_items td{padding: 10px 10px 10px 10px;}
	
.checkout {padding: 10px 10px 0 10px;font-size: 2em;}/**/
	
.cart {font-size: 1.2em;}/* cart button at bottom of section*/
	
}